{% extends "base.html" %}

{% block head_content %}
    <title>Teatro UD</title>
{% endblock%}

{% load static %}
{% block container %}
    <div class="container">
        <div class="row">
            
        </div>
    </div>
{% endblock %}