{% extends "base.html" %}

{% block head_content %}
    <title>Teatro UD</title>
{% endblock%}

{% block container %}
    <div class="container">
        <div class="row">
        <table class="table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Fecha</th>
                <th scope="col">Complejo</th>
                <th scope="col">Deporte</th>
                <th scope="col">Persona</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events%}
                <tr>
                    <th scope="row">{{event.id}}</th>
                    <td>{{event.fecha_hora}}</td>
                    <td>{{event.id_complejo_fk}}</td>
                    <td>{{event.id_deporte_fk}}</td>
                    <td >{{event.cod_persona_fk}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
{% endblock %}