{% load static %}
<nav class="navbar navbar-expand-lg fixed-top" id="main-navbar">
	<div class="container">

		<a class="navbar-brand pr-5" style="border-right: 1px solid #efefef;" href="#">
			<img src="{% static 'img/logo.png' %}" height="45" class="d-inline-block align-top" /> Teatro UD
		</a>

		<div class="collapse navbar-collapse">

			<ul class="navbar-nav mr-auto">

				<li class="nav-item">
					<a href="{% url "admin:index" %}" >
						<img src="{% static 'img/default-profile.png' %}" height="35"
							class="d-inline-block align-top rounded-circle" />
					</a>
				</li>

				<li class="nav-item nav-icon">
					<a href="#">
						<i class="fas fa-plus"></i>
					</a>
				</li>

				<li class="nav-item nav-icon">
					<a href="#">
						<i class="fas fa-calendar-alt"></i>
					</a>
				</li>

				<li class="nav-item nav-icon">
					<a href="{% url "users:logout" %}">
						<i class="fas fa-sign-out-alt"></i>
					</a>
				</li>

			</ul>
		</div>
	</div>
</nav>