{% extends "users/base.html" %}

{% block head_content %}
<title>Teatro UD - Sign in</title>
{% endblock%}

{% block container %}

{% if error %}
	<p class="alert alert-danger">{{ error }}</p>
{% endif%}

<form method="POST" action="#">
	{% csrf_token %}
	<div class="form-group">
		<input class="form-control" type="text" placeholder="Username" name="username" />
	</div>
	<div class="form-group">
		<input class="form-control" type="password" placeholder="Password" name="password" />
	</div>
	<div class="form-group">
		<button class="btn btn-primary btn-block mt-5" type="submit">Sign in!</button>
	</div>
</form>
<p class="mt-4">Don't have an account yet? <a href="{% url "users:signup" %}">Sign up here.</a></p>

{% endblock %}