{% extends "users/base.html" %}

{% block head_content %}
<title>Sign up</title>
{% endblock %}

{% block container %}

    <form action="{% url 'user:signup' %}" method="POST">
        {% csrf_token %}

        <button class="btn btn-primary btn-block mt-5" type="submit">Register!</button>

    </form>

{% endblock %}