<!DOCTYPE html>
<html
  lang="es"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="x-apple-disable-message-reformatting" />
    <title></title>
    <style>
      table,
      td,
      div,
      h1,
      p {
        font-family: Arial, sans-serif;
      }
    </style>
  </head>
  <body style="margin: 0; padding: 0">
    <table
      role="presentation"
      style="
        width: 100%;
        border-collapse: collapse;
        border: 0;
        border-spacing: 0;
        background: #ffffff;
      "
    >
      <tr>
        <td align="center" style="padding: 0">
          <table
            role="presentation"
            style="
              width: 602px;
              border-collapse: collapse;
              border: 1px solid #cccccc;
              border-spacing: 0;
              text-align: left;
            "
          >
            <tr>
              <td
                align="center"
                style="padding: 40px 0 30px 0; background: #70bbd9"
              >
                <img
                  src="'https://www.caracteristicas.co/wp-content/uploads/2018/09/obra-de-teatro-5-e1578944452922.jpg'"
                  alt=""
                  width="300"
                  style="height: auto; display: block"
                />
              </td>
            </tr>
            <tr>
              <td style="padding: 36px 30px 42px 30px">
                <table
                  role="presentation"
                  style="
                    width: 100%;
                    border-collapse: collapse;
                    border: 0;
                    border-spacing: 0;
                  "
                >
                  <tr>
                    <td style="padding: 0 0 36px 0; color: #153643">
                      <h1
                        style="
                          font-size: 24px;
                          margin: 0 0 20px 0;
                          font-family: Arial, sans-serif;
                        "
                      >
                        !Bienvenido! {{name}}
                      </h1>
                      <p
                        style="
                          margin: 0 0 12px 0;
                          font-size: 16px;
                          line-height: 24px;
                          font-family: Arial, sans-serif;
                        "
                      >
                        Su cuenta ha sido creada con éxito, con el correo {{email}}, a partir de ahora podrá participar de las diferentes convocatorias,
                        podrá informarse de los próximos eventos, y actividades que se realizarán en toda la ciudad.
                      </p>
                      <p
                        style="
                          margin: 0;
                          font-size: 16px;
                          line-height: 24px;
                          font-family: Arial, sans-serif;
                        "
                      >
                        <a
                          href="#"
                          style="color: #ee4c50; text-decoration: underline"
                          >Ver noticias</a
                        >
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td style="padding: 0">
                      <table
                        role="presentation"
                        style="
                          width: 100%;
                          border-collapse: collapse;
                          border: 0;
                          border-spacing: 0;
                        "
                      >
                        <tr>
                          <td
                            style="
                              width: 260px;
                              padding: 0;
                              vertical-align: top;
                              color: #153643;
                            "
                          >
                            <p
                              style="
                                margin: 0 0 25px 0;
                                font-size: 16px;
                                line-height: 24px;
                                font-family: Arial, sans-serif;
                              "
                            >
                              <img
                                src="https://assets.codepen.io/210284/left.gif"
                                alt=""
                                width="260"
                                style="height: auto; display: block"
                              />
                            </p>
                            <p
                              style="
                                margin: 0 0 12px 0;
                                font-size: 16px;
                                line-height: 24px;
                                font-family: Arial, sans-serif;
                              "
                            >
                              Lorem ipsum dolor sit amet, consectetur adipiscing
                              elit. In tempus adipiscing felis, sit amet blandit
                              ipsum volutpat sed. Morbi porttitor, eget accumsan
                              dictum, est nisi libero ultricies ipsum, in
                              posuere mauris neque at erat.
                            </p>
                            <p
                              style="
                                margin: 0;
                                font-size: 16px;
                                line-height: 24px;
                                font-family: Arial, sans-serif;
                              "
                            >
                              <a
                                href="http://www.example.com"
                                style="
                                  color: #ee4c50;
                                  text-decoration: underline;
                                "
                                >Blandit ipsum volutpat sed</a
                              >
                            </p>
                          </td>
                          <td
                            style="
                              width: 20px;
                              padding: 0;
                              font-size: 0;
                              line-height: 0;
                            "
                          >
                            &nbsp;
                          </td>
                          <td
                            style="
                              width: 260px;
                              padding: 0;
                              vertical-align: top;
                              color: #153643;
                            "
                          >
                            <p
                              style="
                                margin: 0 0 25px 0;
                                font-size: 16px;
                                line-height: 24px;
                                font-family: Arial, sans-serif;
                              "
                            >
                              <img
                                src="https://assets.codepen.io/210284/right.gif"
                                alt=""
                                width="260"
                                style="height: auto; display: block"
                              />
                            </p>
                            <p
                              style="
                                margin: 0 0 12px 0;
                                font-size: 16px;
                                line-height: 24px;
                                font-family: Arial, sans-serif;
                              "
                            >
                              Morbi porttitor, eget est accumsan dictum, nisi
                              libero ultricies ipsum, in posuere mauris neque at
                              erat. Lorem ipsum dolor sit amet, consectetur
                              adipiscing elit. In tempus adipiscing felis, sit
                              amet blandit ipsum volutpat sed.
                            </p>
                            <p
                              style="
                                margin: 0;
                                font-size: 16px;
                                line-height: 24px;
                                font-family: Arial, sans-serif;
                              "
                            >
                              <a
                                href="http://www.example.com"
                                style="
                                  color: #ee4c50;
                                  text-decoration: underline;
                                "
                                >In tempus felis blandit</a
                              >
                            </p>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td style="padding: 30px; background: #ee4c50">
                <table
                  role="presentation"
                  style="
                    width: 100%;
                    border-collapse: collapse;
                    border: 0;
                    border-spacing: 0;
                    font-size: 9px;
                    font-family: Arial, sans-serif;
                  "
                >
                  <tr>
                    <td style="padding: 0; width: 50%" align="left">
                      <p
                        style="
                          margin: 0;
                          font-size: 14px;
                          line-height: 16px;
                          font-family: Arial, sans-serif;
                          color: #ffffff;
                        "
                      >
                        &reg; Teatro UD, Bogotá D.C. 2022<br /><a
                          href="http://www.example.com"
                          style="color: #ffffff; text-decoration: underline"
                          >Darse de baja</a
                        >
                      </p>
                    </td>
                    <td style="padding: 0; width: 50%" align="right">
                      <table
                        role="presentation"
                        style="
                          border-collapse: collapse;
                          border: 0;
                          border-spacing: 0;
                        "
                      >
                        <tr>
                          <td style="padding: 0 0 0 10px; width: 38px">
                            <a
                              href="http://www.twitter.com/"
                              style="color: #ffffff"
                              ><img
                                src="https://assets.codepen.io/210284/tw_1.png"
                                alt="Twitter"
                                width="38"
                                style="height: auto; display: block; border: 0"
                            /></a>
                          </td>
                          <td style="padding: 0 0 0 10px; width: 38px">
                            <a
                              href="http://www.facebook.com/"
                              style="color: #ffffff"
                              ><img
                                src="https://assets.codepen.io/210284/fb_1.png"
                                alt="Facebook"
                                width="38"
                                style="height: auto; display: block; border: 0"
                            /></a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
